
<link rel='stylesheet' href='/stylesheets/style-contacto.css' />


<div class="contacto">
    <div>
        <form action="/contacto" method="post" class="formulario">
            <section class="form-contact">
                <h4>Contacto</h4>
                <input class="controls" type="text" name="nombre" id="nombres" placeholder="Nombre">
                <input class="controls" type="email" name="email" id="nombres" placeholder="Email">
                <input class="controls" type="text" name="telefono" id="nombres" placeholder="Telefono">
                <textarea name="comentarios" id=""> escriba su mensaje </textarea>
                <input type="submit" value="Enviar">
                {{message}}
            </section>
        </form>

    </div>