
<link rel='stylesheet' href='/stylesheets/style-index.css' />


<body class="relative z-10 w-full border-b border-black/5 dark:border-white/5 lg:border-transparent background">
    <div class="flex justify-between items-center min-h-85 h-full background">
      <div class="w-full sm:w-full md:w-full lg:w-full p-4 lg:w-2/3 text-center mx-auto">
                {{!-- <img src="/images/logo.png" alt="Ava - Dolphine"> --}}
        <h2 class="text-4xl md:text-5xl xl:text-6xl text-gray-800 leading-6 flex flex-col">
          Soluciones avanzadas para
          <br>
          <span class="custom-red font-bold text-11xl mt-8">Call Center</span>
        </h2>
        <div class="relative ml-auto">
            <div class="w-full text-center mx-auto">
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="/contacto"
                      class="relative positon-cta flex h-11 w-full items-center justify-center  hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold m-1 py-3 px-5 transition cta hover:scale-105 text-white"
                        >Contactar</span
                      >
                    </a>
                </div>
            </div>
        </div>
      </div>
      <div class="w-1/2 p-4 lg:w-2/3 text-center mx-auto">

      </div>
    </div>
</body>