
<link rel='stylesheet' href='/stylesheets/style-index.css' />


<body>
    <img src="/images/logo.png" alt="Ava - Dolphine">
    <div class="contenedor">
        <div class="cubo">
    
        </div>
    </div>
</body>