<link rel='stylesheet' href='/stylesheets/style-servicio.css' />

<body>


<div class="servicios bg-gray-100 p-8 rounded-lg shadow-md h-full">
    <h3 class="text-4xl font-bold text-gray-900 mb-12">Nuestros Servicios</h3>
    <div class="grid grid-cols-3 gap-4">
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Consultor de Profesional Services por 24 años en Avaya</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Soluciones de Comunicaciones Empresariales, Multicanalidad y Especialización en Call y Contact Center</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Análisis Estadístico de Cantidad y Calidad de Comunicación</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Instalación y Configuración de Servidores de Comunicaciones CMS</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Soporte y Atención a Gerentes de Call Center</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Comunicaciones Gerenciales Unificadas (Análogicas, Digitales y SIP)</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Diseño y Administración de Plataformas de Comunicaciones</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Instalación y Configuración de CMS</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Consultoría de CMS y sus Reportes</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Facilidades y Diseños de las Soluciones Avaya CMS</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Instalación y configuración de Conectores (Plugin) CMS</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Interpretación de reportes de CMS</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">KT de Administración de CMS</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">KT de Supervisor de CMS</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">KT de Report Designer de CMS (Customización de Reportes)</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">KT de Análisis de ECH</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">KT de Vectores y Facilidades de CM de Avaya - Advocate</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">KT de Diseño de ACD- Avaya</p>
        </div>
        <div class="bg-gray-200 rounded-lg p-4 shadow-md">
            <p class="text-lg text-gray-600">Desarrollo de "Dolphine", un Software para Análisis de Datos Detallados</p>
        </div>
    </div>
</div>

</body>


