<link rel='stylesheet' href='/stylesheets/style-servicio.css' />

<body>

<h3>Nuestros Servicios</h3>
<div class="servicios">
    <div>
        <ul>
        <li>Consultor de Profesional Services por 24 años en Avaya</li>
        <li>Comunicaciones empresariales, multicanalidad, especialista en call y contact center.</li>
        <li>Analisis estadistico de cantidad y calidad de comunicación</li>
        <li>Intalacion de Servidores de comunicaciones CMS especialmente</li>
        <li>soporte y atencion a Gerentes de Call Center.</li>
        <li>Comunicaciones gerenciales unificadas. (Analogica / Digital / SIP )</li>
        <li>Diseño y administracion de plataformas</li>
        <li>Instalacion y configuracion de CMS.</li>
        <li>Consultoria de CMS y sus reportes</li>
        <li>Facilidades y Diseños de las soluciones Avaya CMS</li>
        <li>Instalación y configuración de Connectores (Plugin) CMS</li>
        <li>Interpretación de reportes de CMS</li>
        <li>KT de Administración de CMS</li>
        <li>KT de Supervisor de CMS</li>
        <li>KT de report Designer de CMS (customizacion de reportes)</li>
        <li>KT de analisis de ECH</li>
        <li>KT de Vectres y facilidades de CM de Avaya - Advocate</li>
        <li>KT de diseño de ACD- Avaya</li>
        <li>En un futuro proximo desarrollo de "dolphine" un software para analisis de datos detallados de comunicaciones</li>
        </ul>
    </div>
</div>

</body>


