<link rel='stylesheet' href='/stylesheets/style-servicio.css' />

<body>

<h3>Nuestros Servicios</h3>
<div class="servicios">
    <div>
        <ul>
        <li>Consultor de Profesional Services por 24 años en Avaya</li>
        <li>Comunicaciones empresariales, multicanalidad, especialista en call y contact center.</li>
        <li>Analisis estadistico de cantidad y calidad de comunicación</li>
        <li>Intalacion de Servidores de comunicaciones CMS especialmente</li>
        <li>soporte y atencion a Gerentes de Call Center.</li>
        <li>Comunicaciones gerenciales unificadas. (Analogica / Digital / SIP )</li>
        <li>Diseño y administracion de plataformas</li>
        <li>En un futuro proximo desarrollo de "dolphine" un software para analisis de datos detallados de comunicaciones</li>
        </ul>
    </div>
</div>

</body>