<link rel='stylesheet' href='/stylesheets/style-somos.css' />


<body>
    <div class=" bg-gray-100 p-8 rounded-lg shadow-md h-full">
        <h3 class="text-4xl font-bold text-gray-900 mb-4 mt-9">Quienes Somos?</h3>
        <p class="text-xl text-gray-600">
        Somos una empresa nueva en el mercado, pero contamos con consultores con más de 20 años de experiencia asesorando en centros de contacto. En un centro de contacto, es fundamental para su operación poder medir y mensurar los avances del mismo, día a día. 
        <br><br>
        La herramienta líder en el mercado es el CMS de AVAYA (MR de Avaya), que ha establecido en el mercado hace muchos años. Somos especialistas en investigar, fidelizar e interpretar dicha información vital para el centro de contacto. 
        <br><br>
        Brindamos charlas (KT) claras y abiertas acerca de esta temática desde distintos ángulos: administración de funciones, uso común en la métrica diaria, generación de nuevos reportes basados en la herramienta. Asesoramos sobre adicionales tanto útiles como prácticos y alternativas de información detallada. Colaboramos en el proceso de instalación y puesta en producción de los servidores de aplicaciones de reportería. 
        <br><br>
        En niveles gerenciales somos el aliado para la toma de decisiones informadas. Colaboramos en cuestiones técnicas o soporte inicial. Apoyamos en el diseño y elaboración de una plataforma adecuada para el negocio con visión de crecimiento.
        </p>

        <h3 class="text-4xl font-bold text-gray-900 mb-4 mt-9">Misión</h3>
        <p class="text-xl text-gray-600">
        Ofrecemos servicios profesionales y soluciones tecnológicas innovadoras a call y contact centers, optimizando su rendimiento y alcanzando metas. Con experiencia, honestidad y compromiso, brindamos capacitación especializada y herramientas de alto nivel para mejorar la eficiencia y calidad del servicio. Medimos el éxito mediante reportes detallados y análisis, asegurando transparencia y crecimiento continuo.
        </p>

        <h3 class="text-4xl font-bold text-gray-900 mb-4 mt-9">Visión</h3>
        <p class="text-xl text-gray-600">
        Ser el aliado estratégico global de los call y contact centers, reconocido por nuestra honestidad, compromiso y capacidad para transformar operaciones con soluciones avanzadas y capacitación continua. Aspiramos a ser la referencia del sector, impulsando a nuestros clientes hacia la excelencia con un enfoque transparente y orientado a resultados.
        </p>
    </div>
</body>