<link rel='stylesheet' href='/stylesheets/style-somos.css' />


<body>

    <H3>Quienes somos?</H3>
    <H2>Empresa nueva en el mercado pero con consultores de mas de 20 años asesorando CC.
En un CC es fundamental a su operacion el poder medir y mensurar los avances del mismo, dia a dia.
La herramienta lider en el mercaddo es el CMS de AVAYA(MR de Avaya) , que ha establecido en el mercado hace muchos años ya.
Somos especialistas en investigar, fidelizar e interpretar dicha informacion vital para el CC
Brindamos charlas (KT) claras y abiertas acerca de esta tematica desde distintos angulos Administracion de funciones, uso comun en la metrica diaria, generacion de nuevos reportes basados en la herramienta.
Asesoramos sobre adicionales tanto utiles como practicos y alternativas de informaacion detallada.
Colaboramos en el procveso de Instalacion y puesta en produccion de los Servidores de Aplicaciones de Reporteria.
En niveles gerenciales somo el aliado para la toma de decisiones informadas.
Colaboramos en cuesstiones tecnicas o soporte inicial.
Apoyamos en el diseño y elaboracion de una plataforma adecuada para el negocio con vision de crecimiento</H2>


    <h3>Misión:</h3>
    <h2>Ofrecemos servicios profesionales y soluciones tecnológicas innovadoras a call y contact centers, optimizando su
        rendimiento y alcanzando metas. Con experiencia, honestidad y compromiso, brindamos capacitación especializada y
        herramientas de alto nivel para mejorar la eficiencia y calidad del servicio. Medimos el éxito mediante reportes
        detallados y análisis, asegurando transparencia y crecimiento continuo.</h2>

    <h3>Visión:</h3>
    <h2>Ser el aliado estratégico global de los call y contact centers, reconocido por nuestra honestidad, compromiso y capacidad para transformar operaciones con soluciones avanzadas y capacitación continua. Aspiramos a ser la referencia del sector, impulsando a nuestros clientes hacia la excelencia con un enfoque transparente y orientado a resultados</h2>
</body>