h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:gray;
    
}

div.servicios{
    color: gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}